<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <system.runtime.remoting>
    <application name="diginoteClient">
      <client url="tpc://172.30.10.128:999/server">
        <wellknown type="DiginoteSystem, Program" url="tpc://172.30.10.128:999/server/diginoteEndpoint"/>
      </client>
    </application>
  </system.runtime.remoting>
</configuration>