<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <client>
        <wellknown type="Server.IDiginoteSystem, Server" url="tcp://localhost:999/Server/diginoteEndpoint"/>
      </client>
    </application>
  </system.runtime.remoting>
</configuration>