<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.runtime.remoting>
    <application name="server">
      <service>
        <wellknown type="TDIN_Proj1.DiginoteSystem, TDIN_Proj1" mode="Singleton" objectUri="diginoteEndpoint" />
      </service>
      <channels>
        <channel ref="tcp" port="999"/>
      </channels>
    </application>
  </system.runtime.remoting>
  
</configuration>